In [76]:
import pandas as pd

In [ ]:
df = pd.read_csv("read_csv/data.csv")
df.shape
df.tail(5)
df.columns
df['Pclass']
df[["Pclass","Name"]]

In [ ]:
df = pd.read_csv("indexing/data.csv")
df.head()
df[["Marginal_Adhesion","Clump_Thickness"]]

# Selecting Rows 

df.iloc[:5]
df.iloc[:,:2] #[Rows,Columns]
df[df["Cancer_Type"] > 4] # df[Condition]

In [ ]:
# EXERCISE
df = pd.read_csv("index.csv")
df.head()
# Access the 3rd Column of the index DataFrame
df.iloc[:,2]

# Access the last two columns of the index df using iloc function
df.iloc[:,-2:]

# Access the last 10 rows and the first 2 columns of the index df
df.iloc[-10:,:2]

# Sorting DataFrames

In [77]:
import pandas as pd
import numpy as np

In [91]:
data_BM = pd.read_csv("Pandas_Part_1/bigmart_data.csv")

#Drop the null values
data_BM = data_BM.dropna(how="any")

data_BM.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088

In [94]:
# pd.sort_values = To sort pandas DF by one or more columns
sorted_data = data_BM.sort_values(by="Outlet_Establishment_Year") # Ascending Columns
sorted_data[-5:]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
5333,FDO39,6.985,Regular,0.137926,Meat,184.7608,OUT018,2009,Medium,Tier 3,Supermarket Type2,4042.7376
2146,DRO47,10.195,Low Fat,0.112682,Hard Drinks,113.9860,OUT018,2009,Medium,Tier 3,Supermarket Type2,452.7440
2149,NCJ42,19.750,Low Fat,0.014360,Household,100.8332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1537.9980
643,DRG39,14.150,Low Fat,0.042353,Dairy,51.6982,OUT018,2009,Medium,Tier 3,Supermarket Type2,1262.3568
1346,FDN12,15.600,Low Fat,0.000000,Baking Goods,111.8544,OUT018,2009,Medium,Tier 3,Supermarket Type2,1454.1072

In [98]:
data_BM.sort_values(by="Outlet_Establishment_Year",ascending=False,inplace=True) #Inplace means not to return anything but to make changes in real DF
data_BM[-5:]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
1005,FDU37,9.500,Regular,0.104421,Canned,80.1960,OUT013,1987,High,Tier 3,Supermarket Type1,2157.1920
1007,FDM45,8.655,Regular,0.088121,Snack Foods,119.7756,OUT013,1987,High,Tier 3,Supermarket Type1,2059.9852
1229,NCG19,20.250,Low Fat,0.147810,Household,234.8616,OUT013,1987,High,Tier 3,Supermarket Type1,2812.3392
4277,NCW54,7.500,Low Fat,0.096333,Household,57.8588,OUT013,1987,High,Tier 3,Supermarket Type1,1145.1760
4244,NCQ43,17.750,LF,0.111209,Others,107.7912,OUT013,1987,High,Tier 3,Supermarket Type1,982.7208